[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python backend/run.py"
